html {
	height: 100%;
}

body {
	background-image: url('./background.jpg');
	font-family: 'Noto Serif', 'Liberation Serif', serif;
	height: 100%;
	margin: 0 auto 0;
	max-width: 960px;
	padding: 0;
}

/* HTML element customizations */
code {
	font-family: 'Robot Mono', monospace;
}

h1, h2, h3, h4 {
	font-family: 'Roboto Mono', monospace;
	font-weight: bold;
	text-align: center;
}

h5, h6 {
	font-family: 'Roboto Mono', monospace;
	font-weight: bold;
	text-align: start;
}

h1::before, h2::before, h3::before, h4::before, h5::before, h6::before {
	content: '';
	display: block;
	height: 100px;
	margin-top: -100px;
	position: relative;
	width: 0;
}

/*li {
	margin-bottom: 1em;
}*/

table {
	border-collapse: collapse;
	margin: auto;
	table-layout: fixed;
}

table td {
	border: 1px solid black;
	padding: 4px;
	word-wrap:break-word;
}

textarea {
	resize: none;
}

.help {
	border-bottom: 1px dotted black;
	cursor: help;
}

/* Navigation bar */
header {
	align-items: center;
	background-color: #333;
	box-shadow: 0px 0px 8px;
	display: flex;
	float: center;
	font-family: 'Roboto Mono', monospace;
	font-size: 150%;
	height: 80px;
	left: 0;
	position: fixed;
	right: 0;
	text-align: center;
	user-select: none;
	white-space: nowrap;
}

.navbar {
	overflow: auto;
	flex: 1;
}

.navbar * {
	display: inline-block;
}

.navbar a {
	color: white;
	margin: 20px;
	text-align: center;
	text-decoration: none;
}

.navbar .active {
	color: gray;
}

.navbar .active::before {
	content: "> ";
}

.dropdown .dropdown-option {
	background-color: transparent;
	border: none;
	font-family: inherit;
	font-size: inherit;
	margin: 0;
	outline: none;
}

.navbar a:hover, .dropdown:hover .dropdown-option {
	color: orange;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #fff;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.dropdown-content a {
	color: black;
	display: block;
	float: none;
	margin: 0;
	padding: 0px 20px 0px 20px;
	text-align: left;
	text-decoration: none;
}

.dropdown-content a:hover {
	background-color: #ddd;
}

.dropdown:hover .dropdown-content {
	display: block;
}

.content {
	background-color: white;
	box-shadow: 0px 0px 8px;
	box-sizing: border-box;
	min-height: 100%;
	padding: 100px 20px 20px 20px; /* header height + 20px */
	z-index: 10;
}

.author {
	text-align: end;
}

/* Copyright banner */
.copyright::before {
	background: white;
	bottom: 0;
	content: '\1F12F  2021 linux_user36';
	font-family: monospace;
	margin-bottom: 20px;
	margin-left: 20px;
	position: fixed;
}
